pre {
  
    color: #fff;
    background-color: #1e1e1e !important;

     /* 书写方向，从左到右 */
     direction: ltr;
     text-align: left;
     /* 连续的空白符会被保留。在遇到换行符或者<br>元素时才会换行 */
     white-space: pre;
     /* 单词间距 */
     word-spacing: normal;
     word-break: normal;
     overflow: auto;
     line-height: 1.65;
     tab-size: 4;
     /* 换行方式，单词内有建议换行点也不会在那里换行。只会在空白符处换行 */
     hyphens: none;
     /* color: #555; */
     font-size: 14px;
     padding: 15px 1.25em 15px;
     margin: -10px 0 30px;
     border-radius: 5px;
     border: 1px solid #eee;
     box-shadow: 5px 8px 9px -1px rgb(0 0 0 / 3%),
         0 3px 5px 0 rgb(0 0 0 / 3%),
         2px 3px 4px -1px rgb(0 0 0 / 4%);
}

pre[class*="language-"] {
    padding: 1em
}

code[class*="language-"] .token.comment,
pre[class*="language-"] .token.comment,
code[class*="language-"] .token.prolog,
pre[class*="language-"] .token.prolog,
code[class*="language-"] .token.doctype,
pre[class*="language-"] .token.doctype,
code[class*="language-"] .token.cdata,
pre[class*="language-"] .token.cdata {
    color: #6a9955;
    /* font-style: italic */
}

code[class*="language-"] .token.punctuation .regex-source,
pre[class*="language-"] .token.punctuation .regex-source {
    color: #9f9f9f
}

code[class*="language-"] .token.regex,
pre[class*="language-"] .token.regex {
    color: #ee82ee;
}

code[class*="language-"] .namespace,
pre[class*="language-"] .namespace {
    opacity: .7
}

code[class*="language-"] .token.property,
pre[class*="language-"] .token.property {
    /* font-weight: bold; */
    color: #9cdcfe
}

code[class*="language-"] .token.boolean,
pre[class*="language-"] .token.boolean,
code[class*="language-"] .token.number,
pre[class*="language-"] .token.number,
code[class*="language-"] .token.function-name,
pre[class*="language-"] .token.function-name {
    color: #749df9
}

code[class*="language-"] .token.tag,
pre[class*="language-"] .token.tag {
    color: #569ccb
}

code[class*="language-"] .token.symbol,
pre[class*="language-"] .token.symbol {
    color: #990073
}

code[class*="language-"] .token.selector,
pre[class*="language-"] .token.selector {
    color: #ffd29e
}

code[class*="language-"] .token.attr-name,
pre[class*="language-"] .token.attr-name {
    color: #7cdcfe;
}

code[class*="language-"] .token.string,
pre[class*="language-"] .token.string {
    color: #ce9178
}

code[class*="language-"] .token.char,
pre[class*="language-"] .token.char {
    color: #606aa1
}

code[class*="language-"] .token.url,
pre[class*="language-"] .token.url {
    color: #888
}

code[class*="language-"] .token.atrule,
pre[class*="language-"] .token.atrule,
code[class*="language-"] .token.attr-value,
pre[class*="language-"] .token.attr-value{
    color: #ce9178;
}
code[class*="language-"] .token.keyword,
pre[class*="language-"] .token.keyword {
    /* color: #a626a4; */
    /* color: #50a14f; */
    color: #59afff;
    /* font-weight: bold */
}

code[class*="language-"] .token.function,
pre[class*="language-"] .token.function {
    color: #dcdc8b
}

code[class*="language-"] .token.function-variable,
pre[class*="language-"] .token.function-variable {
    color: #ffef9f
}

code[class*="language-"] .token.maybe-class-name,
pre[class*="language-"] .token.maybe-class-name {
    color: #c18401
}

code[class*="language-"] .token.property-access,
pre[class*="language-"] .token.property-access {
    color: #9cdcfe;
}

code[class*="language-"] .token.class-name,
pre[class*="language-"] .token.class-name {
    /* text-decoration: underline; */
    color: #dcdc8b
}

code[class*="language-"] .token.variable,
pre[class*="language-"] .token.variable {
    color: #008080
}

code[class*="language-"] .token.important,
pre[class*="language-"] .token.important,
code[class*="language-"] .token.bold,
pre[class*="language-"] .token.bold {
    font-weight: bold
}

code[class*="language-"] .token.italic,
pre[class*="language-"] .token.italic {
    font-style: italic
}

code[class*="language-"] .token.entity,
pre[class*="language-"] .token.entity {
    cursor: help
}

pre[data-line] {
    position: relative;
    padding: 1em 0 1em 3em
}

pre[data-line] .line-highlight-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    display: block;
    width: 100%
}

pre[data-line] .line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: 1em;
    background: rgba(153, 122, 102, 0.08);
    background: linear-gradient(to right, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
    pointer-events: none;
    line-height: inherit;
    white-space: pre
}

pre[data-line] .line-highlight:before,
pre[data-line] .line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    background-color: rgba(153, 122, 102, 0.4);
    color: #f5f2f0;
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: .3em;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px white
}

pre[data-line] .line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: .4em
}